.text-field{

    width: 40% !important;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #EC407A!important;
}
.place-order-btn{
    background-color: #EC407A !important;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
 width: 90% !important;
    align-items: center !important;
    margin: auto !important;
    margin-top: 20px !important;

}
.place-order-btn:hover{
    background-color: #EC407A !important;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}
@media screen and (max-width: 450px) {
    .text-field{

        width: 100% !important;
        margin-bottom: 20px !important;
    }
  }
  .main-head{
    text-align: center;
    font-size: 40px;
  }
  .text-field{
    border: 4px solid #EC407A !important;
    
  }
  .text-field:focus{
    border: 4px solid #EC407A !important;

  }
  .amount-input{
    color: blue;
  }
  .main-head{
    margin-top: 40px;
  }
.login{
  color: #EC407A ;
}
.login-input{
  width: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 50px;
  padding-left: 20px;
  border: none;
  border-bottom: 2px solid #EC407A ;
  outline: none;

}
.login-input:focus{
  border: none;
  border-bottom: 2px solid #EC407A ;
}
.login-icon{
  font-size: 40px;
  align-items: center;
  align-content: center;
  /* margin-top: 10px;
  margin-bottom: 20px;*/
   padding: 2px 20px; 
   color: #EC407A;
}
.login-btn{
  background-color: #EC407A;
  color: whitesmoke;
  font-weight: bold;
  border: #EC407A;
  width: 90px;
  padding: 5px 10px;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
}
.login-text{
  color: #EC407A;
}
.signup-btn{
  color: #EC407A;

  font-weight: bold;
  border: #EC407A;
  padding: 5px 10px;
  height: 30px;
  margin-top: 20px;

}
.signup-login-btn{
  margin-bottom: 25px;
}
#iconColor{
  color: pink;
} 