.text-field{

    width: 40% !important;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #e63946!important;
}
.place-order-btn{
    background-color: #e63946!important;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
 width: 90% !important;
    align-items: center !important;
    margin: auto !important;
    margin-top: 20px !important;

}
.address-filed{
  width: 92% !important;
  justify-content: space-evenly !important  ;
  margin: auto !important;
  margin-top: 20px !important;
  flex-wrap: wrap !important;

  /* align-items: center; */
  
}
.place-order-btn:hover{
    background-color: #e63946 !important;
    color: white;
    font-weight: bold;
    font-size: 20px;
    
}
@media screen and (max-width: 450px) {
    .text-field{

        width: 100% !important;
        margin-bottom: 10px !important;
    }
  }
  .main-head{
    text-align: center;
    font-size: 40px;
    margin-top: 20px !important;
    color: #e63946;
  }
  .text-field{
    border: 4px solid #e63946 !important;
    
  }
  .text-field:focus{
    border: 4px solid #e63946 !important;

  }
  .amount-input{
    color: blue;
  }
  .main-head{
    margin-top: 40px;
  }
.login{
  color:#e63946 ;
}
.login-input{
  width: 50%;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 50px;
  padding-left: 20px;
  border: none;
  border-bottom: 2px solid #e63946;
  outline: none;

}
.login-input:focus{
  border: none;
  border-bottom: 2px solid #e63946 ;
}
.login-icon{
  font-size: 40px;
  align-items: center;
  align-content: center;
  /* margin-top: 10px;
  margin-bottom: 20px;*/
   padding: 2px 20px; 
   color: #e63946;
}
.login-btn{
  background-color: #e63946;
  color: whitesmoke;
  font-weight: bold;
  border: #e63946;
  width: 90px;
  padding: 5px 10px;
  height: 40px;
  font-size: 20px;
  margin-top: 20px;
}
.login-text{
  color: #e63946;
}
.signup-btn {
  color: #e63946;
  background-color: white;
  font-weight: bold;
  border: #e63946;
  /* padding: 5px 10px; */
  height: 30px;
  /* margin-top: 20px; */

}
.forget-pass{
  color: #e63946;
  background-color: white;
  font-weight: bold;
  border: #e63946;
  margin-top: 7px;
  margin-bottom: 0px;
  /* padding: 5px 10px; */
  /* height: 30px; */
  /* margin-top: 20px; */
}
.signup-login-btn{
  margin-bottom: 25px;
}
#iconColor{
  color: pink;
} 
