.cart-btn{
    background-color: #906090!important;
    color: #fff !important;
    font-weight: bold !important;
    padding: 4px 15px !important;
    font-size: 10px !important;
}
.details-btn{
    border: 1px solid #906090 !important;
    box-sizing: border-box;
    color: #906090!important;
    font-weight: bold !important;
    padding: 4px 15px !important;

    font-size: 10px !important; 

}
.btns-container{
    position: absolute !important;
}

.media-control-card{
    padding: 0px;
}
.but-now-btn{
    background-color: #906090!important;
    color: #fff !important;
    font-weight: bold !important;
    padding: 6px 35px !important;
    font-size: 20px !important;
}
#select-label{
    color: #906090!important;
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
}
.cart-btn{
    position: relative !important;
    bottom: 1px !important;
}
#search-btn{
    background-color: #906090!important;
    color: #fff !important;
    font-weight: bold !important;
    padding: 6px 5px !important;
    font-size: 15px !important;
    margin-left: 20px;
    border: #906090;
    border-radius: 10%;
    width: 120px;
    height: 40px;
}
.dropdown{
    width: 320px;
    height: 35px;
    border: 2px solid #906090;
    color: black;
    font-weight: bold;
    /* background-color: #e9cfd7; */
}
.drawerImage{
    height: 40px !important;
    width: 40px !important;
    padding-right: 2px !important;
    object-fit: 'contain' !important;
}
.drawerImageBox{
    margin-right: 2px !important;
    padding: 5 !important;
    margin-left: 0px !important;
}
.deleteicon{
    position: 'absolute' !important;
    right: 20 !important;
    font-size: 25px !important;
    color: red;
    cursor: pointer;
}
.qty-icon{
    font-size: 25px  !important;
    cursor:pointer;
}
.delete-icon{
    margin-left: 20x !important;
}
.qty-icon:active{
    opacity: 0.7;
}
.modal-box{
    overflow-y: scroll!important;

}
.emptyCartAlert{
    /* padding: 10px !important; */
    padding: 10px 30px !important;
    margin: 40px !important;
    margin-top: 40px !important;
}