.cart-btn{
    background-color: #e63946!important;
    color: #fff !important;
    font-weight: bold !important;
    padding: 4px 15px !important;
    font-size: 10px !important;
   
}
.details-btn{
    border: 1px solid #e63946 !important;
    box-sizing: border-box;
    color: #e63946!important;
    font-weight: bold !important;
    padding: 4px 15px !important;
    font-size: 10px !important; 

}


.media-control-card{
    padding: 0px;
}
.but-now-btn{
    background-color: #e63946!important;
    color: #fff !important;

    font-weight: bold !important;
    padding: 6px 35px !important;
    font-size: 20px !important;
}
#select-label{
    color: #e63946!important;
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
}

#search-btn{
    background-color: #e63946!important;
    color: #fff !important;
    font-weight: bold !important;
    padding: 6px 5px !important;
    font-size: 15px !important;
    margin-left: 20px;
    border: #e63946;
    border-radius: 10%;
    width: 120px;
    height: 40px;
}
.dropdown{
    width: 500px;
    height: 35px;
    border: 2px solid #e63946;
    color: black;
    font-weight: bold;
    /* background-color: #e9cfd7; */
}
.drawerImage{
    height: 40px !important;
    width: 40px !important;
    padding-right: 2px !important;
    object-fit: 'contain' !important;
}
.drawerImageBox{
    margin-right: 2px !important;
    padding: 5 !important;
    margin-left: 0px !important;
}
.deleteicon{
    position: 'absolute' !important;
    right: 20 !important;
    font-size: 25px !important;
    color: red;
    cursor: pointer;
}
.qty-icon{
    font-size: 25px  !important;
    cursor:pointer;
}
.delete-icon{
    margin-left: 20x !important;
}
.qty-icon:active{
    opacity: 0.7;
}
.modal-box{
    overflow-y: scroll!important;

}
.emptyCartAlert{
    /* padding: 10px !important; */
    padding: 10px 30px !important;
    margin: 40px !important;
    margin-top: 40px !important;
}
.drop-down-div{
    height: 300px;
    width: 100%;
    /* background-image: url('https://media.istockphoto.com/id/1293366109/photo/this-one-match-perfect-with-me.webp?b=1&s=170667a&w=0&k=20&c=H5hgZid5Aji924X_NLc4t7zt1v5Qza_e33XI2VdgrlU=');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    display: grid;
    place-items: center;

}
.section-1{
    height: 500px;
    position: absolute !important;
    top: 10px;
    width: 100%;
    background-image: url('https://media.istockphoto.com/id/1199014988/photo/shopping-woman.jpg?s=612x612&w=0&k=20&c=dK8XyJZ1oKjE-CqS_PmTtBMR-so4qMHaGaKUdimX1uE='); 
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.content-image{
    height: 500px !important;
    /* background-image: url('https://media.istockphoto.com/id/1369227756/photo/giggling-their-way-through-the-mall.webp?b=1&s=170667a&w=0&k=20&c=OiDwC_sSwTJrNU63Wy0yNZHpvK6JLZabE43HUQU-SOw=');
    background-size: 100% 100%;
    background-repeat: no-repeat; */

}
.content{
    height: 100%;
    /* width: 500px; */
    /* display: grid; */
    /* place-items: center; */
    text-align: center;
    align-items: center;
    justify-content: center;

}
.content-div{
    margin-top: 110px !important;
    box-shadow: 12px,2px,2px, #e63946;
    position: relative !important;
    right: 40px !important;
}
.sale-ofer{
    color: #e63946;
    font-size: 40px;
    border: #fff;

}
/* .content-div > h5{
    color: blue;
    font-weight: bold;
    font-size: 30px;
} */
.main-head{
    /* margin-top: 20px; */
    /* color: #e63946 !important; */
    color: whitesmoke !important;
    text-align: center;
    background-color: #e63946 !important;
    width: 290px !important;
    /* padding: 10px 10px; */
    text-shadow: rgba(232, 151, 151, 0.931) 0px 5px 15px;
    /* border: #fff; */
    font-weight: bolder !important ;
    margin: auto !important;
    font-family: 'Times New Roman', Times, serif;


    font-size: 40px !important;
}
.sales-off{
       color: whitesmoke !important;
       text-align: center;
       /* padding: 10px 10px; */
       text-shadow: rgba(232, 151, 151, 0.931) 0px 5px 15px;
       /* border: #fff; */
       font-weight: bolder !important ;
       /* margin: auto !important; */
       font-family: 'Times New Roman', Times, serif;
   
   
       font-size: 40px !important; 
}
.arrow-icon{
    font-size: 50px;
    color: #e63946 !important;
    /* background-color: #e63946; */
    margin-top: 2px !important;
    margin: 3px !important;
    font-weight: 900;

}
.logo{
    font-family: 'Times New Roman', Times, serif;
}
.card-content{
    position: relative !important;
    top: 80px;
    margin-bottom: 20px;

}
@media screen and (max-width: 450px) {
.section-1{
    background-image: url('https://media.istockphoto.com/id/696526278/photo/saleswoman-suggesting-dress-to-a-customer.webp?b=1&s=170667a&w=0&k=20&c=FN1k2t3f06iPaPNx843P0fPQ4sOynBDadLUSO5_RN5U='); 
    background-size:cover;
}
.sale-ofer{
    color: #fff;
    text-align: center !important;
}
.arrow-icon{
    display: none;
}
.main-head {
    text-align: center !important;
}
}

.loader{
    color: whitesmoke !important;
    font-weight: bold !important; 
    outline-width: 30px !important;


}
